<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home</title>
</head>
<body>
<%- include('./partials/navbar') %>
HOME

<%- include('./partials/scripts') %>    
</body>
</html>